header img {
  width: 100%;
}
.greeting {
  font-weight: bold;
  background-color: silver;
  color: firebrick;
  width: 90%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 1%;
}
.pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}
#second {
  margin-top: 20px;
}
.pics img {
  max-height: 18vw;
}